@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.line {
    align-self: center;
    width: 20rem;
    /* height: 0.1rem; */
    overflow: hidden;
    box-shadow: 0px 1.5px 1.5px 1.5px rgb(145, 136, 136);
}

header .header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

header button {
    width: 10vh;
    height: 10vh;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
header button img {
    width: 10vh;
    height: 10vh;
}

header img {
    display: flex;
    width: 12vh;
    height: 12vh;
}
.favorite img {
    width: 5vh;
    height: 5vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}
footer div {
    display: flex;
    flex-direction: column;
}

footer ul {
    padding: 0;
    width: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search__list span {
    width: 60vh;
}

.search__img {
    width: 15vh;
    height: 17vh;
    border-radius: 1rem;
    margin-right: 1rem;
}

.search-order {
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-self: center;

    overflow: hidden;
}
*,
body,
.search-order input,
select {
    font-family: 'Abel', sans-serif;
}

.search-order div {
    display: flex;
    border: 1px solid black;
    border-radius: 1rem;
}

.search-order input {
    border: none;
    border-radius: 1rem;
    height: 3.6vh;
    padding: 0;
    align-self: center;
}

.search-order div {
    padding-left: 0.7rem;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__img {
    width: 20vh;
    margin-top: 2rem;
}

.nav__personal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.add-match {
    width: 5vh;
}

.nav__personal button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.playlist ul {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
}

.playlist li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist ul button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.playlist ul button img {
    width: 5vh;
}

.playlist ul .list__img {
    width: 20vh;
    border-radius: 1rem;
    margin: 1rem;
}
